<div mat-dialog-title>Title1</div>
<div mat-dialog-content class="content">
    <div class="row">
        <mat-form-field appearance="outline">
            <mat-label>First name</mat-label>
            <input matInput placeholder="Chen">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Last name</mat-label>
            <input matInput placeholder="William">
          </mat-form-field>
    </div>
    <div class="row">
        <mat-form-field appearance="outline">
            <mat-label>E-mail</mat-label>
            <input matInput placeholder="30000000@qq.com">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Telephone</mat-label>
            <input matInput placeholder="135000000">
          </mat-form-field>
    </div>

</div>
<div mat-dialog-actions class="action">
    <button mat-raised-button color="primary">Save</button>
    <button mat-raised-button>Cancel</button>
</div>