.header{
    background-color:#EEE;
    padding: 20px;
    text-align: center;
}

.topnav{
    overflow: hidden;
    background-color: #aaa;
}

.topnav a{
    float: left;
    color: #ddd;
    text-align: center;
    padding: 10px 50px;
}

.column{
    background-color: #EEE;
    float: left;
    width: 50%;
}


.footer{
    background-color: #ddd;
    text-align: center;
    padding: 10px;
}
