<div mat-dialog-title>添加员工</div>
<div mat-dialog-content>
    <form [formGroup]="employeeForm">
        <div class="row">
            <mat-form-field>
                <mat-label>First Name</mat-label>
                <input matInput formControlName="firstName">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Last Name</mat-label>
                <input matInput formControlName="lastName">
            </mat-form-field>
        </div>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-raised-button mat-dialog-close>Cancel</button>
    <button mat-raised-button mat-dialog-close color="primary" (click)="onSave()" >Save</button>
</div>
