<div mat-dialog-title>这是一个对话框</div>
<div mat-dialog-content>
    <div class="row">
            <mat-form-field>
                <mat-label>First Name</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Last Name</mat-label>
                <input matInput>
            </mat-form-field>
    </div>
    <!-- <mat-form-field>
        <mat-label>Input</mat-label>
        <input matInput>
    </mat-form-field> -->
</div>
<div mat-dialog-actions>
    <button mat-raised-button mat-dialog-close>关闭</button>
</div>
