<div mat-dialog-title>Title1</div>
<form action="" [formGroup]="empForm" (ngSubmit)="formSubmit()">
  <div mat-dialog-content class="content">
      <div class="row">
          <mat-form-field appearance="outline">
              <mat-label>First name</mat-label>
              <input matInput placeholder="Chen" formControlName="firstname">
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Last name</mat-label>
              <input matInput placeholder="William" formControlName="lastname">
            </mat-form-field>
      </div>
      <div class="row">
          <mat-form-field appearance="outline">
              <mat-label>E-mail</mat-label>
              <input matInput placeholder="30000000@qq.com" formControlName="email">
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Telephone</mat-label>
              <input matInput placeholder="135000000" formControlName="phone">
            </mat-form-field>
      </div>

  </div>

  <div mat-dialog-actions class="action">
      <button mat-raised-button color="primary" type="submit">Save</button>
      <button mat-raised-button>Cancel</button>
  </div>

</form>